In [1]:
def select_into(tname):
    c = """
    SELECT 
        wdpa_gid, 
        sum(intersection_area), 
        code, 
        kingdom, 
        phylum, 
        class, 
        order_, 
        family, 
        genus, 
        binomial, 
        year    
    INTO TABLE wdpa_%s_binomial_intersections        
    FROM wdpa_%s_intersections
    WHERE presence <= 3 AND (code = 'CR' OR code = 'VU' or code = 'EN' or CODE = 'NT' or code = 'LC')
    GROUP BY wdpa_gid, binomial, code, kingdom, phylum, class, order_, family, genus, year
    ORDER BY wdpa_gid, binomial
    """
    c = c % (tname, tname)
    cmd = 'psql -d biodiversity -c "%s"' % c 
    !$cmd

def add_column(tname):
    c = """
    ALTER TABLE wdpa_%s_binomial_intersections 
    ADD COLUMN binomial_area double precision
    ;
    """
    c = c % (tname)
    cmd = 'psql -d biodiversity -c "%s"' % c 
    !$cmd            

def update_table(tname):
    c = """
    UPDATE wdpa_%s_binomial_intersections
    SET binomial_area = m.area
    FROM %s_binomial_areas as m
    where 
    wdpa_%s_binomial_intersections.binomial = m.binomial
    ;
    """
    c = c % (tname, tname, tname)
    cmd = 'psql -d biodiversity -c "%s"' % c 
    !$cmd            

def create_index(tname):
    c = "CREATE INDEX IF NOT EXISTS %s_wdpa_gid_code_idx ON wdpa_%s_binomial_intersections (wdpa_gid, code);" % (tname, tname)
    cmd = 'psql -d biodiversity -c "%s"' % c 
    !$cmd    

def vacuum_table(tname):
    c = "VACUUM ANALYZE wdpa_%s_binomial_intersections;" % tname
    cmd = 'psql -d biodiversity -c "%s"' % c 
    !$cmd

In [2]:
select_into('botw')

SELECT 39211275

In [3]:
add_column('botw')

ALTER TABLE

In [ ]:
update_table('botw')

In [6]:
create_index('botw')
vacuum_table('botw')

CREATE INDEX
VACUUM

In [7]:
print "foo"

foo